/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
html {
  font-size: 112.5%;
}

/* Make the site name smaller and the text wrap again on smart phones */
#site-name {
  font-size: 100%;
}
#site-name span {
  white-space: normal;
}
#site-name span:nth-child(2) {
  position: static;
}
